<h2 mat-dialog-title>{{isEditMode ? 'Editar' : 'Nuevo'}} Parámetro</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código de Parámetro</mat-label>
      <input matInput maxlength="25" formControlName="codigoParametro" placeholder="Ej: CIT_UMBRAL">
      <mat-hint align="end">{{ form.get('codigoParametro')?.value?.length || 0 }}/25</mat-hint>
      <mat-hint>Formato: ####_###### (Ej: CIT_UMBRAL)</mat-hint>
      <mat-error *ngIf="form.get('codigoParametro')?.hasError('required')">
        El código es requerido
      </mat-error>
      <mat-error *ngIf="form.get('codigoParametro')?.hasError('pattern')">
        Formato inválido (solo letras, números y !&#64;#$%^&*()+=._-)
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción del Parámetro</mat-label>
      <input matInput formControlName="descripcionParametro" maxlength="50" placeholder="Descripción del parámetro">
      <mat-hint>Ingrese una descripción detallada (mínimo 5 caracteres)</mat-hint>
      <mat-error *ngIf="form.get('descripcionParametro')?.hasError('required')">
        La descripción del parámetro es requerida
      </mat-error>
      <mat-error *ngIf="form.get('descripcionParametro')?.hasError('minlength')">
        La descripción del parámetro debe tener al menos 5 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="valor" maxlength="25" placeholder="Ingrese el valor">
      <mat-hint>Ingrese el valor del parámetro</mat-hint>
      <mat-error *ngIf="form.get('valor')?.hasError('required')">
        El valor es requerido
      </mat-error>
      <mat-error *ngIf="form.get('valor')?.hasError('minlength')">
        El valor debe tener al menos 1 caracter
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipoParametro">
        <mat-option value="UMBRAL">Umbral</mat-option>
        <mat-option value="CUMPLIMIENTO">Cumplimiento</mat-option>
      </mat-select>
      <mat-hint>Seleccione un Tipo de Parámetro</mat-hint>
      <mat-error *ngIf="form.get('tipoParametro')?.hasError('required')">
        El Tipo es requerido
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="estado">Estado Activo</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
