.full-width {
  width: 100%;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 497px;
  padding-top: 20px;
}

mat-dialog-content {
  padding: 20px 24px;
}

textarea {
  resize: vertical;
}
