.full-width {
  width: 100%;
  margin-bottom: var(--space-4);
}

form {
  display: flex;
  flex-direction: column;
  min-width: 497px;
  padding-top: var(--space-5);
}

mat-dialog-content {
  padding: var(--space-5) var(--space-5);
}

textarea {
  resize: vertical;
}
