<h2 mat-dialog-title>{{isEditMode ? 'Editar' : 'Nuevo'}} Responsable</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código de Responsable</mat-label>
      <input matInput pattern="[0-9]*" maxlength="4" formControlName="codigoResponsable" placeholder="Ej: 0001">
      <mat-hint align="end">{{ form.get('codigoResponsable')?.value?.length || 0 }}/4</mat-hint>
      <mat-hint>Formato: 000# (Ej: 0001)</mat-hint>
      <mat-error *ngIf="form.get('codigoResponsable')?.hasError('required')">
        El código es requerido
      </mat-error>
      <mat-error *ngIf="form.get('codigoResponsable')?.hasError('maxlength')">
        El código debe tener al menos 4 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('codigoResponsable')?.hasError('pattern')">
        Solo se permiten números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Especialista Regional</mat-label>
      <input matInput formControlName="nombreResponsable" maxlength="50" placeholder="Nombre del Especialista Regional">
      <mat-hint>Ingrese el nombre del especialista regional (mínimo 1 caracter)</mat-hint>
      <mat-hint align="end">{{ form.get('nombreResponsable')?.value?.length || 0 }}/50</mat-hint>
      <mat-error *ngIf="form.get('nombreResponsable')?.hasError('required')">
        El nombre del especialista regional es requerido
      </mat-error>
      <mat-error *ngIf="form.get('nombreResponsable')?.hasError('minlength')">
        El nombre del especialista regional debe tener al menos 1 caracter
      </mat-error>
      <mat-error *ngIf="form.get('nombreResponsable')?.hasError('pattern')">
        Solo se permiten letras, números y caracteres especiales como puntos, guiones, arroba y guiones bajos
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Oficina Regional</mat-label>
      <input matInput formControlName="codigoEmpresa" maxlength="25" placeholder="Código de Empresa">
      <mat-hint>Ingrese la oficina regional (mínimo 4 caracteres)</mat-hint>
      <mat-hint align="end">{{ form.get('codigoEmpresa')?.value?.length || 0 }}/25</mat-hint>
      <mat-error *ngIf="form.get('codigoEmpresa')?.hasError('required')">
        La oficina regional es requerida
      </mat-error>
      <mat-error *ngIf="form.get('codigoEmpresa')?.hasError('minlength')">
        La oficina regional debe tener al menos 4 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('codigoEmpresa')?.hasError('pattern')">
        Solo se permiten letras y números
      </mat-error>
    </mat-form-field>

    
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>