<h2 mat-dialog-title>{{isEditMode ? 'Editar' : 'Nuevo'}} Feriado</h2>

<mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Rango fechas</mat-label>
      <mat-date-range-input [formGroup]="rango" [rangePicker]="picker" required >
        <input matStartDate formControlName="fechaFeriadoIni" placeholder="Fecha inicio" required >
        <input matEndDate formControlName="fechaFeriadoFin"  placeholder="Fecha fin" required >
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="rango.controls.fechaFeriadoIni.hasError('required')">
        La fecha de inicio es obligatoria
      </mat-error>
      <mat-error *ngIf="rango.controls.fechaFeriadoFin.hasError('required')">
        La fecha de fin es obligatoria
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Ubigeo</mat-label>
      <input matInput pattern="[0-9]*" maxlength="6" formControlName="codigoRegion" placeholder="Ingrese el ubigeo del feriado">
      <mat-hint align="end">{{ form.get('codigoRegion')?.value?.length || 0 }}/6</mat-hint>
      <mat-hint>Ingrese el ubigeo del feriado</mat-hint>
      <mat-error *ngIf="form.get('codigoRegion')?.hasError('required')">
        El ubigeo es requerido
      </mat-error>
      <mat-error *ngIf="form.get('codigoRegion')?.hasError('maxlength')">
        El ubigeo debe tener 6 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('codigoRegion')?.hasError('pattern')">
        Solo se permiten números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción del Feriado</mat-label>
      <input matInput formControlName="descripcionFeriado" placeholder="Descripción del feriado">
      <mat-hint>Ingrese una descripción detallada (mínimo 5 caracteres)</mat-hint>
      <mat-error *ngIf="form.get('descripcionFeriado')?.hasError('required')">
        La descripción del feriado es requerida
      </mat-error>
      <mat-error *ngIf="form.get('descripcionFeriado')?.hasError('minlength')">
        La descripción del feriado debe tener al menos 5 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipoFeriado">
        <mat-option value="NACIONAL">NACIONAL</mat-option>
        <mat-option value="REGIONAL">REGIONAL</mat-option>
      </mat-select>
      <mat-hint>Seleccione un Tipo de Feriado</mat-hint>
      <mat-error *ngIf="form.get('tipoFeriado')?.hasError('required')">
        El Tipo es requerido
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="estado">Estado Activo</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
