<h2 mat-dialog-title>{{isEditMode ? 'Editar' : 'Nueva'}} Empresa</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código de Empresa</mat-label>
      <input matInput formControlName="codigoEmpresa" maxlength="4" placeholder="Ej: ELSE">
      <mat-hint>Formato: [A-Z] (Ej: ESLE)</mat-hint>
      <mat-error *ngIf="form.get('codigoEmpresa')?.hasError('required')">
        El código es requerido
      </mat-error>
      <mat-error *ngIf="form.get('codigoEmpresa')?.hasError('minlength')">
        El código debe tener mínimo 3 dígitos
      </mat-error>
      <mat-error *ngIf="form.get('codigoEmpresa')?.hasError('pattern')">
        Solo se permiten letras
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>RUC</mat-label>
      <input matInput pattern="[0-9]*" maxlength="11" formControlName="ruc" placeholder="Ingrese el RUC de la empresa">
      <mat-hint align="end">{{ form.get('ruc')?.value?.length || 0 }}/11</mat-hint>
      <mat-error *ngIf="form.get('ruc')?.hasError('required')">
        El RUC es requerido
      </mat-error>
      <mat-error *ngIf="form.get('ruc')?.hasError('maxlength')">
        El RUC debe tener 11 dígitos
      </mat-error>
      <mat-error *ngIf="form.get('ruc')?.hasError('pattern')">
        Solo se permiten números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Razón Social</mat-label>
      <input matInput formControlName="razonSocial" maxlength="100" placeholder="Razón social de la empresa">
      <mat-hint>Ingrese una descripción detallada (mínimo 5 caracteres)</mat-hint>
      <mat-error *ngIf="form.get('razonSocial')?.hasError('required')">
        La razón social es requerida
      </mat-error>
      <mat-error *ngIf="form.get('razonSocial')?.hasError('minlength')">
        La razón social debe tener al menos 5 caracteres
      </mat-error>
      <mat-error *ngIf="form.get('razonSocial')?.hasError('pattern')">
        Solo se permiten letras y números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion" maxlength="250" placeholder="Descripción de la empresa" rows="3"></textarea>
      <mat-hint>Ingrese una descripción detallada</mat-hint>
      <mat-error *ngIf="form.get('razonSocial')?.hasError('pattern')">
        Solo se permiten letras y números
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo">
        <mat-option value="1">GENERADORAS</mat-option>
        <mat-option value="2">TRANSMISORAS</mat-option>
        <mat-option value="3">COMERCIALIZADORAS</mat-option>
      </mat-select>
      <mat-hint>Seleccione un Tipo de Empresa</mat-hint>
      <mat-error *ngIf="form.get('tipo')?.hasError('required')">
        El Tipo es requerido
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="estado">Estado Activo</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="guardar()" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
