<h2 mat-dialog-title>Detalle Atención: {{ codigoAtencion }}</h2>

<mat-dialog-content>

      <mat-tab-group>
        <mat-tab label="Acciones (TH_2)"> 

          <div class="contenido-tab" *ngIf="codigoEmpresa && codigoAtencion">
            <app-acciones-atencion
              [codigoEmpresa]="codigoEmpresa"
              [codigoAtencion]="codigoAtencion">
            </app-acciones-atencion>
          </div>

        </mat-tab>
      </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cerrar</button>
</mat-dialog-actions>