<h2 mat-dialog-title>{{isDetailMode ? 'Detalle' : 'Nuevo'}} Acciones</h2>

<mat-dialog-content>
    <form [formGroup]="form">

      <mat-tab-group>
        <mat-tab label="Acciones (TH_2)"> 

          <div class="contenido-tab">
            En Desarrollo
          </div>

        </mat-tab>
        <mat-tab label="Informacion Tecnica de cierre">

            <div class="contenido-tab">
              No Aplica
            </div>
            
        </mat-tab>
        
      </mat-tab-group>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cerrar</button>
</mat-dialog-actions>